{
  "extends": "eslint:recommended",
  "plugins": ["jest"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "import/no-nodejs-modules": 0,
    "import/no-commonjs": 0
  }
}
